.header{
    h2{
        color: #035BFF;
    }
}

.btn-contact{
    color: #035BFF !important;
    border-radius: 40px;
    letter-spacing: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: none;
}