.container-options {
  max-width: 100%;
  padding: 25px;
  background-color: #fcf0e4;
  .title-options {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: normal;
  }
  .buttons-container {
    width: 100%;
    width: 343px;
    margin: auto;
    margin-top: 35px;
    .btn-option {
      letter-spacing: normal;
      font-family: "Montserrat", sans-serif;
      text-transform: none;
      box-shadow: 0px 8px 12px rgba(36, 63, 162, 0.04);
      border-radius: 9px;
      margin-bottom: 15px;
      .v-btn__content {
        display: block;
        text-align: left;
      }
    }
  }
}
