main {
  background-color: #f8fbff;
  overflow-x: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  position: relative;
  z-index: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 22px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  list-style: none;
  padding: 0;
  font-weight: 500;
}

.li-bold{
  font-weight: 700;
}

.parrafo-small {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #9898b8;
  font-weight: 400;
}

.parrafo-normal__grey {
  color: #9898b8;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.parrafo-normal__blue {
  color: #035BFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.v-sheet.v-toolbar:not(.v-sheet--outlined){
  box-shadow: 0px 8px 12px rgba(36, 63, 162, 0.05) !important;
}