.projects-container {
  max-width: 100%;
  padding: 25px;
  .container-projects__info {
    text-align: center;
  }
  .container-date__projects {
    .image-project {
      border-radius: 22px;
      width: 100%;
    }
  }
}
